@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to social network ContactMe!</h1>
    <h3><b>Register or Login to send messages and chat with people.</b></h3>
    <img src="main_logo.png" alt="Chat Logo" style="width: 100%;height: 100%;object-fit: cover;">
</div>