@model ContactMe.Models.Message

@{
    ViewData["Title"] = "Mail Page";
}

<div class="d-flex align-items-center">
        <div class="row">
          <div class="">  
            <h3 id="userName">@Model.Sender</h3>
          </div>
        </div>
</div>

<div class="text-center">
  <h3 class="display-4">@Model.Theme</h3>
  <p>@Model.Text</p>
  
  <li>@Model.Time</li>
</div>

<div id="newMessages"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0-preview.2.22153.2/signalr.min.js"></script>
<script src="/js/chat.js"></script>